body {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;   
}
a {
  text-decoration: none;
  color: #2e2f42;
}
ul {
  list-style: none;
}
p{
  font-size: 16px;
  line-height: 1.5;
}
h2{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1111
}
h3{
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
}
.page-header {
  background-color: #e7e9fc;  
}
.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1667;
  letter-spacing: 3%;
}
.page-logo-first-halfword {
  color: #4d5ae5;
}
.page-nav-item {
  letter-spacing: 2%;
}
.page-nav-item:hover {
  color: #4d5ae5;
}
.page-nav-item:focus {
  color: #4d5ae5;
}
.page-header-contacts {
  color: #434455;
}
.section-business-solutions {
  background-color: #2e2f42;
  color: #ffffff;
  text-align: center;
}
.section-business-solutions-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.0714;
}
.section-business-solutions-button {
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  cursor: pointer;
}
.section-advantages{
  background-color: #ffffff;  
  text-align: center;

}
.section-our-team{
  background-color: #F4F4FD;
  text-align: center;
}
.section-our-portfolio{
  background-color: #ffffff;
  text-align: center;
}
.page-footer{
  background-color: #2E2F42;
  color: #F4F4FD;  
}
.footer-logo{
  color: #F4F4FD;
}